---
layout: mapping
---

<div id="properties-page">
    <h1 itemprop="name headline">EDMI metadata properties</h1>
    
    {% assign properties = site.data.properties %}
	{% assign marginalities = "minimum, recommended, optional" | split: ", " %}

    <div id="properties-table">
        <div class="controls">
            <input class="search" placeholder="Search..." />
            <div class="filter">
                <a class="btn waves-effect waves-light" id="filter-none">Show all</a>
                <a class="btn waves-effect waves-light" id="filter-minimum">Minimum</a>
                <a class="btn waves-effect waves-light" id="filter-recommended">Recommended</a>
                <a class="btn waves-effect waves-light" id="filter-optional">Optional</a>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Minimum Functional</th>
                    <th>Minimum Operational</th>
					<th>Recommended Functional</th>
					<th>Recommended Operational</th>
					<th>Optional Functional</th>
					<th>Optional Operational</th>
                    <th>RDA Metadata guideline</th>
                </tr>
            </thead>
            <tbody class="list">
                {% for property in properties %}
                <tr>
                    <td class="name"><strong>{{property.name}}</strong></td>
                    <td>{{property.description}}</td>
					{% for marginality in marginalities %}
					<td class="functional_{{marginality}}">
						{% if property.marginality.functional == marginality %}
                        <i class="mdi mdi-checkbox-marked-outline mdi-24px blue-check-box"></i>
                        {% else %}
                        <i class="mdi mdi-checkbox-blank-outline mdi-24px"></i>
						{% endif %}
					</td>
					<td class="operational_{{marginality}}">
						{% if property.marginality.operational == marginality %}
                        <i class="mdi mdi-checkbox-marked-outline mdi-24px blue-check-box"></i>
                        {% else %}
                        <i class="mdi mdi-checkbox-blank-outline mdi-24px"></i>
						{% endif %}
					</td>
					{% endfor %}
                    <td class="guideline">
                        {% if property.guideline != "" %}
                        <a href="{{property.url}}">{{property.guideline}}</a>
                        {% else %}
                        <span class="no-guideline">No guideline yet</span> <i class="mdi mdi-link-off mdi-16px"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
