#crosswalk-page {
    .mapping {
        position: relative;
        padding: 0 0.5em;
        border-color: palette(light, tertiary);
        border-style: solid;
        display: flex;
        margin: 1em 0 1em 0;
        .edmi-properties {
            display: flex;
            flex-direction: column;            
            padding: 1em;
            width: 235px;
            margin: 5px 0 5px 0;
            background-color: palette(light, tertiary);
            transition : all 1s linear;
            -wekit-transition : all 1s linear;
            -moz-transition : all 1s linear;               
            .property-name {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: palette(light, bg);
                text-align: center;
                font-size: 1.8em;
                font-weight: bold;
            }

            .column-title {
                color: palette(light, bg);
                h4 {
                    font-weight: bold;
                    font-size: 3rem;
                    margin: initial;
                }
            }
        }
        .resources {
            height: 80%;
            display: flex;
            padding: 1em 0;
            overflow-x: auto;
                  
            .resource {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 5px;
                .property-detail {
                    overflow: hidden;
                    font-size: 0.8em;
                    padding: 0.5em;
                    .resource-property {
                        margin: 0 0 0.3em 0;
                        display: flex;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                        .box {
                            white-space: nowrap;
                            padding: 0 0.5em 0 0.5em;
                            display: inline-flex;
                            color: palette(light, bg);
                            width: 100%;
                            .label {
                                display: flex;
                                width: 100%;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        .namespace {
                            border-radius: 4px 0 0 4px;
                            background-color: palette(light, primary);
                        }
                        .property-name {
                            background-color: palette(light, secondary);
                        }
                        .subproperty-name {
                            border-radius: 0 4px 4px 0;
                            background-color: palette(light, tertiary);
                        }
                    }
                }                
            }

            .visible {
                visibility: visible;
                opacity: 1;
            }
            .hidden {
                width: 0;
                margin: 5px 0 5px 0;
                visibility: hidden;
                opacity: 0;

                .properties, .column-title {
                    width: 0;
                }
            }
        }

    }
    #resources-search {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: inline-flex;
        margin: 1em 0 1em 1em;
        padding: 1em;
        .search-checkbox {
            display: flex;
            margin: 0 2em 0 0;

            label {
                color: palette(light, secondary);
            }
        }
    }
    .property-card {
        align-items: center;
        display: flex;
        padding: 3px;
        margin: 10px 0 0 0;
        min-height: 200px;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .column-title {
        height: 4em;
        display: flex;
        flex-direction: column;        
        justify-content: center;
        align-items: center;
        h4 {
            margin: initial;
        }
        a {
            color: palette(light, primary);
        }
        .type {
            color: palette(light, secondary);
        }

        .edit-button {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 0px 4px;
            border-radius: 7px;
            overflow: initial;
            position: absolute;
            top: 2px;
            right: 2px;
            a {
                color: palette(light, secondary);
            }
            .tooltiptext {
                visibility: hidden;
                background-color: black;
                color: #fff;
                opacity: 0.8;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                width: 120px;
                top: 150%;
                left: 50%;
                margin-left: -60px;
                /* Use half of the width (120/2 = 60), to center the tooltip */
                position: absolute;
                z-index: 50;
            }
            &:hover .tooltiptext {
                visibility: visible;
            }
            .tooltiptext::after {
                content: " ";
                position: absolute;
                bottom: 100%;
                /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent black transparent;;
            }
            
            &:hover {
                background-color: palette(light, tertiary);
                a {
                    color: palette(light, bg);
                }
            }
        }        
    }
    .properties {
        display: flex;
        flex-direction: column;
        margin: 1em 0 0 0;
    }
    .my-sizer-element {
        width: 8.33333%;
    }

    .resource {
        -webkit-transition: all 0.2s ease-in-out,visibility 0.6s ease-in-out,opacity 0.6s ease-in-out;
        -moz-transition: all 0.2s ease-in-out,visibility 0.6s ease-in-out,opacity 0.6s ease-in-out;
        -o-transition: all 0.2s ease-in-out,visibility 0.6s ease-in-out,opacity 0.6s ease-in-out;
        transition: all 0.2s ease-in-out,visibility 0.6s ease-in-out,opacity 0.6s ease-in-out;
    }    
}